**/credentials.json
**/.aim
chatbot/backend/packages/simplechat/simplechat/.ipynb_checkpoints/agentWikipedia-checkpoint.py
chatbot/backend/packages/simplechat/simplechat/.ipynb_checkpoints/chain-checkpoint.py
