**/credentials.json
**/.aim
**/.ipynb_checkpoints
chatbot/backend/packages/simplechat/simplechat/.ipynb_checkpoints/agentWikipedia-checkpoint.py
chatbot/backend/packages/simplechat/simplechat/.ipynb_checkpoints/chain-checkpoint.py
chatbot/backend/packages/simplechat/simplechat/.ipynb_checkpoints/chainrag-checkpoint.py
chatbot/backend/packages/rag-google-cloud-vertexai-search/rag_google_cloud_vertexai_search/.ipynb_checkpoints/__init__-checkpoint.py
