google-cloud-aiplatform
google-cloud-logging
google-cloud-speech
google-cloud-storage
google-cloud-texttospeech
google-cloud-discoveryengine
google-cloud-videointelligence==2.12.0
youtube-transcript-api
beautifulsoup4
lxml
Pillow==9.4.0
ImageMagic
streamlit-analytics
pytube
streamlit==1.32.2
langchain
langchain-google-vertexai
faiss-cpu
pypdf
moviepy
pydub
